.bar {
    display: flex;
    padding-left: 30px;
    padding-right: 50px;
    align-items: center;
    color: rgb(220, 220, 220);
    justify-content: space-between;
    background-color: rgb(166, 16, 91);
}
.item-field {
    color: rgb(166, 16, 91);
}
a {
    text-decoration: none;
    color: rgb(220, 220, 220);
}
.bar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.routes {
    cursor: pointer;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.routes:hover {
    background-color: rgb(104, 16, 60);
}
h3 {
    margin: 0px
}